@charset "utf-8";

/* banner */

/* 헤더영역 */

#hamburger{
  display: none;
}
.header-area {
  width: 100%;
  background-color: #f01327;
  font-family: "pretendard";

  position: relative;
  height: 150px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.header-menu-left {
  display: flex;
  margin-top: 45px;
  padding-left: 50px;
  font-size: 0.8rem;
}

.header-menu-left li.active{
  margin-right: 20px;
  transition: 0.2s;

}
.header-menu-right {
  display: flex;
  margin-top: 45px;
  padding-right: 50px;
  font-size: 0.8rem;
}
.header-menu-wrap{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.header-menu-wrap a {
  margin-right: 15px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.header-logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translatex(-50%);
  margin: 10px 0;
}
.sub-menu-box.menu1{
  width: 100%;
  transition: 0.2s;
  position: absolute;
  top: 104px;
  left: 0;
  opacity: 0;
  z-index: -1;

}
.sub-menu-box.menu1.active{
  opacity: 1;
  z-index: 99;
}
.sub-menu-box.menu1 .sub-menu{
  position: absolute;
  /* top: 0; */
  top: 46px;
  left: 0;
  padding: 100px 0;
  z-index: 99;
  opacity: 0;
  background-color: #FDF9EF;
  width: 100%;
}

.sub-menu-box.menu1 .sub-menu.active{
  opacity: 1;
}

.sub-menu.menu2{
  padding: 20px 0;
  display: none;
  position: absolute;
  z-index: 999999;
  height: 100vh;
  width: 70%;
  background-color: #FDF9EF;
  
}
/* 해야할것 서브메뉴박스에게 오퍼시티 0, z-index -1로 뒤로 숨겼다가 서브메뉴 액티브 걸리면 오퍼시티 1, z-index 99,
서브메뉴박스의 서브메뉴에게도 동일하게 진행 */
/* #tab1,
#tab2,
#tab3,
#tab4{
  display: none;
} */

.menu-box-detail{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  text-transform: uppercase;
}
.detail-left{
  display: flex;
  color: #f01327;
}
.detail-left li{
  margin-bottom: 25px;
  margin-right: 100px;
  font-size: 1rem;
}

.detail-right{
  display: flex;
}

.detail-right-img-box{
  width: 300px;
  height: 250px;
  margin-right: 50px;
}
.detail-right-img-box:last-child{
  margin-right: -50px;
}

/* 모바일 탭메뉴버전 */

.menu2{
  border-bottom: 1px solid #f01327;
}
.menu2 .tab{
  border-bottom: 1px solid #f0132596;
  width: 90%;
  margin: 0 auto;
}

.menu2 .sub-btn {
  color: #f01327;
  padding: 10px 10px;
  font-size: 1.6rem;
  cursor: pointer;
}

.menu2 .sub-tab-menu li{
  color: #f01327;
  padding: 5px 10px;
  text-transform: uppercase;
}

.sub-tab-menu{
  display: none;
}

.tab.active .sub-tab-menu{
  display: block;
}

/* 배너영역 스타일링 */
.banner{
  position: relative;
}

.banner-bg{
  
  display: none;
}
.banner-left {
  position: absolute;
  top: 46%;
  left: 7%;
  z-index: 9;
  width: 600px;
}
.banner-left p {
  font-size: 3.6rem;
  white-space: normal;
  color: #fff;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;

}


.banner-go-now {
  position: absolute;
  top: 69%;
  left: 7%;
  font-size: 1.4rem;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  transition: 0.3s;

}


.go-now a{
  font-family: "DM serif display";

}
.banner-go-now:hover {
  background-color: #fff;
  color: #f01327;
  text-shadow: none;
}

/* sec-1 */

.container {
  height: 100vh;
}

.animate-wrapper {
  display: flex;
  width: 5000px;
  margin-top: 300px;
}

.animate-wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  animation: animate 10s linear infinite;
}

.animate-wrap a {
  font-size: 2.8rem;
  color: #f01327;
  font-family: "riverflows";
}

.animate {
  padding-right: 25px;
  text-transform: uppercase;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sec-1 .swiper-wrapper .swiper-slide {
  width: 384px;
  margin-right: 20px;
}

.sec-1 .swiper-slide img {
  height: 404px;
  border-radius: 20px;
}

/* 스와이퍼 좌우버튼 가려주기 */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  opacity: 0;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  opacity: 0;
}
.sec-1-wrapper {
  width: 1616px;
  /* PC 사이즈 기준 이미지 4장씩 보여줄때 이미지 너비 384px*4 + 80(마진 오른쪽 * 4) */
  margin: 0 auto;
  /* padding-top: 100px; */
  padding-top: 140px;
}
.product-header {
  font-size: 3rem;
  color: #f01327;
  margin-bottom: 34px;
}
.sec-1 .swiper-slide .slide-1 {
  width: 384px;
}
.sec-1 .swiper-wrapper .slide-txt-wrap {
  font-size: 0.8rem;
  margin-top: 10px;
  line-height: 20px;
  cursor: pointer;
}
.sec-1 .swiper-wrapper .slide-txt-wrap p {
  padding: 5px 0;
}
.sale {
  color: #a8a9ad;
  text-decoration: line-through;
}
.sec-1 .price img {
  width: 10px;
  height: 10px;
  margin: 0 7px;
}
/* 반응형시 기존 스와이퍼 없애고 생겨날 부분 */
.sec-1-wrapper2{
  display: none;
}
.sec-1-wrapper2 .box-wrap{
  /* sec-1-wrapper2의 내용 두개를 묶어주는 애 */
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;

}
.sec-1-wrapper2 .box{
  width: 320px;
  height: 400px;

  position: relative;

}
.sec-1-wrapper2 .box img{
  border-radius: 20px;
  transition: 0.3s;
}
.sec-1-wrapper2 .box h2 {
  position: absolute;
  top: 75%;
  left: -15px;
  font-size: 2rem;
  color: #fff;
  padding-left: 30px;
  text-shadow: 0px 0px 3px #1e1d1d;
}

/* sec-2 */
.sec-2 .container {
  width: 100%;
  display: flex;
  border-top: 1px solid #f01327;
}
.sec-2-left {
  color: #f01327;
  width: 50%;
  display: flex;
  align-items: center;
}
.sec-2-right {
  background: url(../img/sec2-right.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100vh;
}
.sec-2-left-wrap {
  width: 550px;
  margin: 0 auto;
}

.sec-2-left p {
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 60px;
}
.sec-2-left-txt {
  margin-top: 32px;
  line-height: 35px;
  font-size: 1.1rem;
}
.sec-2-go-now {
  border: 1px solid #f01327;
  padding: 10px;
  width: 110px;
  margin-top: 40px;
  text-align: center;
  font-size: 1.3rem;

  transition: 0.3s;
}

.sec-2-go-now:hover {
  color: #fff;
  background-color: #f01327;
}

/* sec-3 */
.sec-3 .container {
  width: 100%;
  display: flex;
  background-color: #f01327;
}
.sec-3-left {
  background: url(../img/sec3-left.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 100vh;
}
.sec-3-right {
  color: #fff;
  width: 50%;
  display: flex;
  align-items: center;
}
.sec-3-right-wrap {
  width: 50%;
  margin: 0 auto;
}

.sec-3-right p {
  font-size: 3rem;
  display: inline-block;
  text-transform: capitalize;
  line-height: 60px;

}
.sec-3-right-txt {
  margin-top: 32px;
  line-height: 35px;
  font-size: 1.2rem;
}
.sec-3-go-now {
  border: 1px solid #fff;
  padding: 10px;
  width: 110px;
  margin-top: 40px;
  text-align: center;
  font-size: 1.3rem;

  transition: 0.3s;
}
.sec-3-go-now:hover {
  color: #f01327;
  background-color: #ffff;
}
/* sec-4 */
.sec-4 .container {
  width: 100%;
}
.sec-4-bg {
  background: url(../img/sec4.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
/* sec-5 */
.sec-5 .container {
  background: url(../img/sec-5-bg.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  display: none;
}
.swiper-wrap-box {
  display: flex;
}
.sec-5 .mask {
  width: 560px;
  height: 720px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  overflow: hidden;
  margin-top: 130px;
}
.sec-5 .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

/* footer */

.footer-bottom-wrap{
  padding: 0 160px;
}
.footer .thd-Swiper .swiper-slide {
  width: 385px;
  height: 400px;
  margin-right: 20px;
  
  flex-shrink: 0;
  /* flex 적용시 자기 영역을 제대로 잡지 못해서 잘리는 경우 flex-shirink:0 을 적용해주자 */
}
.footer .mask{
  width: 1600px;
  margin: 0 auto;
}

.swiper-slide:last-child {
  margin-right: -20px;
}
.footer-t {
  padding: 130px 0;
}
.insta-id {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #f01327;
}
.instagram{
  font-size: .95rem;
}
.footer-b {
  background-color: #f01327;
  color: #fff;
}
.footer-bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid #fff;
}
.footer-bottom-top p {
  font-size: 2rem;
  text-transform: uppercase;
}
.email {
  margin: 1px;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 20px 150px 20px 20px;
  background-color: transparent;
  color: #fff;
}
.email::placeholder {
  color: #fff;
}
.email:focus {
  outline: none;
  color: #fff;
}
.email:focus::placeholder{
  opacity: 0;
}
.footer-bottom-bottom {
  display: flex;
  padding: 44px 0;
}
.footer-bottom-bottom .bottom {
  padding-right: 50px;
}
.footer-bottom-bottom li {
  font-size: 0.9rem;
  padding-top: 10px;
}
.footer-bottom-bottom .btn{
  font-size: 1.2rem;
  cursor: pointer;
}

/* top-btn */
.top-btn{
  width: 15px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 50px;

  display: none;
}



/* 반응형 작업 시작 */
@media (max-width:1600px) {
  /* sec-1 */
  .sec-1-wrapper{
    width: 1280px;
  }
  .sec-1 .swiper-wrapper .swiper-slide{
    width: 300px;
  }
  .sec-1 .swiper-slide span{
    font-size: .8rem;
  }
  .sec-1 .swiper-slide img{
    height: 324px;
  }
  .sec-1 .price img{
    height: 10px;
  }

  /* sub-menu */
  .menu-box-detail{
    margin:0 100px ;
  }
  .detail-left li {
    margin-bottom: 25px;
    margin-right: 80px;
    font-size: .95rem;
  }
  .detail-right-img-box{
    width: 230px;
    height: 200px;
    margin-right: 30px; 
   }

   /* sec-3 */
   .sec-3-right p{
    font-size: 2.6rem;
   }
   .sec-3-right-txt{
    font-size: 1.05rem;
  }
   
  /* footer */
  .footer .mask{
    width: 1270px;
    margin: 0 auto;
  }
  .footer .thd-Swiper .swiper-slide{
    width: 300px;
    height: 350px;
  }
  }
@media (max-width:1300px) {
  /* header */
  .header-menu-wrap a{
    font-size: 0.9rem;
  }
  /* banner */
  .banner-left{
    top: 40%;
  }
  .banner-left p{
    font-size: 3rem;
  }
  .banner-go-now{
    top: 60%;
  }
  /* sec-1 */
  .sec-1-wrapper{
    width: 1120px;
  }
  .sec-1 .swiper-wrapper .swiper-slide{
    width: 260px;
  }
  .sec-1 .swiper-slide img{
    height: 300px;
  }
  .sec-1 .price img{
    height: 10px;
  }
  .sec-1 .swiper-slide span{
    font-size: .7rem;
  }
  /* sec-2 */
  .sec-2-left-wrap {
    width: 450px;
  }
  .sec-2-left p{
    font-size: 2.45rem;
  }
  /* sec-3 */
  .sec-3-right-wrap{
    width: 400px;
  }

  .sec-3-right p{
    font-size: 2.4rem;
  }

  /* sec-5 */
  .sec-5 .mask{
    width: 430px;
    height: 600px;
    margin-top: 160px;
  }
  /* footer */
  .footer .thd-Swiper .swiper-slide{
    width: 250px;
    height: 300px;
  }
  .footer .mask {
    width: 1080px;
  }
  .footer-bottom-wrap{
   padding: 0 100px;
  }
  }
@media (max-width:1000px) {
  
  /* banner */
  .header-menu-wrap a{
    font-size: 0.85rem;
  }

  .banner-left{
    top: 45%;
    width: 500px;
  }
  .banner-left p{
    font-size: 2.5rem;
  }

  /* sub-menu */
  .menu-box-detail{
    margin: 0 50px;
  }
  .detail-right-img-box{
    width: 180px;
    height: 180px;
  }
  .detail-right-img-box:last-child {
    margin-right: -20px;
  }
  .detail-left li{
    margin-right: 50px;
    font-size: 0.96rem;
  }
  
  .sub-menu.box.menu1 .sub-menu{
    padding: 70px 0;
  }


  /* sec-1 */

  .sec-1 .swiper-wrapper .swiper-slide{
    width: 200px;
  }
  .sec-1-wrapper{
    width: 860px;
    padding-top: 150px;
  }
  .sec-1 .swiper-slide img{
    height: 240px;
  }
  .sec-1 .price img{
    height: 10px;
  }
  .animate-wrap{
    padding: 0;
  }
  .animate-wrapper{
    margin-top: 200px;
  }
  /* sec-2 */
  .sec-2-left-wrap{
    width: 400px;
  }
  .sec-2-left p{
    font-size: 2rem;
  }
  .sec-2-left-txt {
    line-height: 30px;
    font-size: 1rem;
  }
  /* sec-3 */
  .sec-3-right-wrap{
    width: 300px;
  }
  .sec-3-right-txt{
    font-size: 1rem;
  }

  /* sec-5 */
  .sec-5 .mask{
    margin-top: 190px;
  }
  /* footer */
  .footer .thd-Swiper .swiper-slide{
    width: 200px;
    height: 250px;
  }
  .footer .mask{
    width: 850px;
  }
  .footer-bottom-top{
    padding: 40px 0;
  }
  .footer-bottom-top p{
    font-size: 1.5rem;
  }
  .email{
    padding: 15px 110px 15px 10px;
  }
  .footer-bottom-bottm{
    padding: 40px 0;
  }
  .footer-bottom-bottom h1{
    font-size: 0.8rem;
  }
  .footer-bottom-bottom p{
    font-size: 0.75rem;
  }

  }
@media (max-width:750px) {
  /* header */
  #hamburger{
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    top: 20px;
    left: 32px;
    z-index: 9999;
  }

  #hamburger span{
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;

    transition: 0.3s;
  }
  #hamburger span:nth-child(2){
    top: 50%;
    left: 0;
  }

  #hamburger span:nth-child(3){
    top: 100%;
    left: 0;
  }
  
  #hamburger span:nth-child(1).active{
    top: 0;
    transform: rotate(45deg);
  }

  #hamburger span:nth-child(2).active{
    opacity: 0;

  }
  #hamburger span:nth-child(3).active{
    top: 0;
    transform: rotate(-45deg);
  }
  .sub-menu.menu2.active{
    display: block;
  }
  /* data-alt 연결된 header-menu-left도 지워줌 */
  .header-menu-left{
    display: none;
  }

  .header-menu-right{
   display: none;
  }
  .header-menu-wrap a{
    color: #f01327;
  }

  /* 기존에 있는 서브메뉴 지우기 */
  .sub-menu-box.sub-menu.menu1{
    display: none;
  }

  /* banner */

  .banner-go-now{
    top: 60%;
  }

  /* sec-1 */

  .animate-wrapper a{
    font-size: 2.2rem;
  }

  .sec-1-wrapper2 .box-wrap {
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
  }
  .sec-1-wrapper2 .box{
    width: 580px;
    height: 320px;
    margin-bottom: 70px;
  }
  .sec-1-wrapper{
    display: none;
  }
  .sec-1-wrapper2{
    display: block;
  }
  .sec-1-wrapper2 .box img {
    object-position: center top;
  }
  .sec-1-wrapper2 .box h2{
    top: 60%;
  }
 
  /* sec-2 */
  .sec-2 .container{
    display: block;
  }
  .sec-2-left-wrap {
    width: 500px;
    text-align: center;
  }
  .sec-2-go-now{
    width: auto;
  }
  .sec-2-left{
    width: 100%;
    height: 50vh;
  }
  .sec-2-right{
    width: 100%;
    height: 50vh;
  }


  /* sec-3 */
  .sec-3 .container{
    display: block;
  }
  .sec-3-left{
    width: 100%;
    height: 50vh;
    background-position: center top;
  }
  .sec-3-right{
    width: 100%;
    height: 50vh;
  }
  .sec-3-right-wrap{
    width: 400px;
    text-align: center;
  }
  .sec-3-go-now{
    width: auto;
  }

  /* sec-4 */
  .sec-4-bg{
   background-attachment: inherit;
  }
  /* sec-5 */
  .sec-5 .mask {
    width: 360px;
    height: 560px;
    margin-top: 200px;
}

  /* footer */
  .footer .mask{
    width: 620px;
  }
  .footer .thd-Swiper .swiper-slide {
    width: 300px;
    height: 300px;
  }
  .footer-bottom-wrap {
    padding: 0 50px;
  }
  .footer-bottom-top{
    display: block;
  }
  .footer-bottom-top p{
    padding: 50px 0;
  }
  .footer-bottom-bottom{
    display: block;
    padding: 34px 0;
  }
  .footer-bottom-bottom .bottom{
    border-bottom: 1px solid #ffffff73;
    padding: 30px 0;
  }
  .footer-bottom-bottom h1{
    font-size: 1.4rem;
  }
  .footer-menu{
      display: none;
  }
  .bottom.on .footer-menu{
      display: block;
  }
  .footer-menu li a {
    display: block;
    font-size: .95rem;
    padding-top: 20px;
  }
  .bottom.on .btn{
    color: #ffcb5f;

  }
}
@media (max-width:500px) {
  
  /* banner */
  .banner-left{
    width: 320px;
  }
  .banner-left p {
    font-size: 2.3rem;
  }
  .banner-video{
    display: none;
  }
  .banner-bg{
    display: block;
    width: 100%;
    height: 100vh;
  }
  .banner-go-now{
    pointer-events: none;
  }

  
  /* sec-1 */
  .sec-1-wrapper2 .box{
    pointer-events: none;
    width: 450px;
  }

  /* sec-2 */
  .sec-2-left-wrap{
    width: 400px;
  }
  .sec-2-left p{
    font-size: 1.9rem;
  }
  .sec-2-left-txt {
    line-height: 25px;
    font-size: 0.87rem;
  }
  .sec-2-go-now{
    pointer-events: none;
  }

  /* sec-3 */
  .sec-3-right p{
    font-size: 2rem;
  }
  .sec-3-right-txt{
    font-size: 0.87rem;
    line-height: 25px;
  }
  .sec-3-go-now{
    pointer-events: none;
  }


  /* sec-5 */

  .sec-5 .mask{
    width: 300px;
    height: 450px;
    margin-top: 290px;
  }
  /* footer */

  .insta-id{
    font-size: 1.7rem;
  }
  .instagram{
    font-size: 0.85rem;
  }

  .footer .thd-Swiper .swiper-slide {
    width: 200px;
    height: 230px;
  }
  .footer .mask{
    width: 420px;
  }
  .email{
    padding: 15px 180px 15px 10px;
    }
  .footer-bottom-bottom .bottom{
    padding: 20px 0;
  }
  .footer-bottom-bottom .btn{
    font-size: 1rem;
  }
  .footer-menu li a{
    font-size: .8rem;
  }

  .top-btn{
    bottom: 30px;
    right: 20px;
  }

}
@media (max-width:375px) {
  /* banner */
  .banner-left p{
    font-size: 1.9rem;
  }
  .banner-go-now{
    font-size: 1.2rem;
  }

  /* sub-menu */
  .menu2 .sub-btn {
    font-size: 1.2rem;
  }
  .menu2 .sub-tab-menu li {
    font-size: 0.87rem;
  }
  
  /* sec-1 */
  .animate-wrap{
    padding-top: 0;
  }
  .animate-wrap a{
    font-size: 1.5rem;
  }
  .animate-wrapper{
    margin-top: 70px;
  }
  .sec-1-wrapper2 .box {
    width: 330px;
    height: 270px;
    margin-bottom: 50px;
}

  /* sec-2 */
  .sec-2-left p{
    font-size: 1.5rem;
    line-height: normal;
  }
  .sec-2-left-txt{
    width: 340px;
    line-height: 25px;
    font-size: 0.75rem;
    margin: 32px auto;
  }
  .sec-2-go-now{
    margin: 0 30px;
  }

  /* sec-3 */
  .sec-3-right p{
    font-size: 1.5rem;
    line-height: 45px;
  }
  .sec-3-go-now{
    margin: 30px;
  }

  /* sec-5 */
  .sec-5 .mask{
    margin-top: 170px;
  }

  /* footer */

  .insta-id{
    font-size:1.4rem;
  }
  .instagram{
    margin-bottom: 10px;
  }

  .footer .thd-Swiper .swiper-slide{
    width: 150px;
    height: 170px;
  }
  .footer .mask{
    width: 320px;
  }

  .email{
    padding: 15px 130px 15px 10px;
  }

}
